body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #272625;
    background-color: #F7F0E8;
}
a {
    text-decoration: none;
}

header{
    max-width: 1600px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-weight: 500;
    font-size: 2.4rem;
    margin-top: 0px;
    padding-top: 25px;
}

.header__container{
    background-image: url(../images/header_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: #D94025;
    opacity: 0.9;
    height: 60px;
    margin-right: 30px;
}

nav ul li{
    display: inline;
    margin: 5px;
}

nav a{
    color: #F7F0E8;
    padding: 15px;
}

.logo_container{
    background-color: #F7F0E8;
    background-image: url(../images/pattern.svg);
    background-size: 50%;
    background-blend-mode: overlay; 
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo_container img{
    width: 300px;
    height: 200px;
}

.logo_container h1, p{
    padding: 1px;
    margin: 5px;
}

.bar{
    background-color: #988066;
    width: 100%;
    height: 20px; 
}

/*sections with*/

section{
    margin: 0 auto;
    max-width: 1600px;
}

/* ---- section menu ----  */
.menu{
    background-color: white;
}

.menu__cards--container{
    display: flex;
    justify-content: space-between;
}

/*card menu*/

.menu__card{
    background-color: #F7F0E8;
    width: 400px;
    height: auto;
    text-align: center;
    margin: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu__card h4{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.menu__card p{
    font-size: 1rem;
    margin-bottom: 10px;
}

.menu__card img{
    width: 100%;
}

.button {
    background-color: #D94025;
    border: none;
    color: #F7F0E8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 20px;
    cursor: pointer;
  }

/* ---about section--- */

.about{
    background-color: #272625;
    display: flex;
    justify-content: space-between;
  }

.about__text{
    color: #F7F0E8;
      margin: 30px;
  }

.about__text h2{
    text-align: left;
    margin: 2px;
    padding-top: 0px;;
  }

  .about__text p{
      font-size: 1.1rem;
  }

.about__text{
    padding: 30px;
}

.about__image{
    margin: 30px;
    width: 50%;
}

/* ---contact section--- */

.contact h2{
    text-align: left;
    margin-left: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
}

.contact__container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 30px;
}

.contact__form{
    background-color: white;
    display: block;
    padding: 15px;
    margin: 5px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

.contact__map{
      margin: 30px;
  }

#embedmap-display img{
    max-width:none!important;
    background:none!important;
    font-size: inherit;
    font-weight:inherit;
}

/* ---footer section ---- */

 .footer__container{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #D94025;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__text{
    color: #F7F0E8;
}
/* social media icons */

.fa {
    padding: 20px;
    width: 40px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}


/* --- Menu page --- */

.menu__gallery{
    background-color: white;
}

.menu__gallery--cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*cards*/

.gallery__card{
    background-color: #F7F0E8;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gallery__card h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery__card img{
    width: 100%;
}